@use "abstracts" as *;

.boxSkills {
  width: 100%;
  height: 100%;
  padding-bottom: 70px;
  display: flex;
  background: linear-gradient(
    172deg,
    $color-blue-3,
    $color-blue-2 95%,
    $color-blue-1 99%
  );
  z-index: 2;
  margin-top: -5px;
}

.insideBoxSkills {
  margin-left: 203px;
  h3 {
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 3rem;
    font-weight: 600;
  }

  h2 {
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.5);
    font-size: 3.4rem;
    font-weight: 600;
  }
  span {
    color: $color-blue-11;
  }
  h3 {
    margin-top: 3rem;
  }
}

.boxCardsFront {
  margin-top: 3rem;
  display: flex;
  width: 100%;
  // height: 100%;
  margin-right: 70px;
  // background-color: grey;
  gap: 4rem;
  flex-wrap: wrap;
}
.boxCardsBack {
  margin-top: 3rem;
  display: flex;
  width: 100%;
  // height: 100%;
  margin-right: 70px;
  // background-color: grey;
  gap: 4rem;
  flex-wrap: wrap;
}

.card {
  width: 100px;
  height: 100px;
  position: relative;
  transition: all 0.4s cubic-bezier(0.645, 0.045, 0.355, 1);
  border-radius: 16px;
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
  overflow: hidden;
  opacity: 3;
  transition: 10s;
  // // transform: scale(1.2) rotateY(360deg);
  // transform: rotate3d(360deg);
}

.cardImage {
  height: 100%;
  width: 100%;
  display: flex;
  // position: absolute;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);

  justify-content: center;
  img {
    // align-self: center;

    width: 100%;
    height: 100%;
  }
}

/*Description */
.cardDescription {
  display: flex;
  position: absolute;
  gap: 0.5em;
  flex-direction: column;
  background-color: #f5f5f5;
  color: #212121;
  height: 30%;
  bottom: 0;
  border-radius: 16px;
  transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
  padding: 1rem;
}

/*Text*/
.textTitle {
  font-size: 1.3rem;
  font-weight: 700;
}

.textBody {
  font-size: 1rem;
  line-height: 130%;
}
.card:hover {
  border: 10px solid $color-blue-1;
  transform: scale(1.05);
  box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
}

.card:hover .cardDescription {
  transform: translateY(100%);
}

@media (max-width: 390px) {
  .insideBoxSkills {
    margin-left: 120px;
  }
}

// @media (max-width: 390px) {
//   .insideBoxSkills {
//     margin-left: 150px;
//   }
// }

// .LanguageInsideBox img {
//   transition: all 2.3s;
// }
// .LanguageInsideBox img:hover {
//   transform: scale(1.2) rotateY(360deg);
// }
// .LanguageInsideBox h2 {
//   font-size: 14px;
// }
