$color-blue-1: hsl(206, 100%, 99.2%);
$color-blue-2: hsl(210, 100%, 98%);
$color-blue-3: hsl(209, 100%, 96.5%);
$color-blue-4: hsl(210, 98.8%, 94%);
$color-blue-5: hsl(209, 95%, 90.1%);
$color-blue-6: hsl(209, 81.2%, 84.5%);
$color-blue-7: hsl(208, 77.5%, 76.9%);
$color-blue-8: hsl(206, 81.9%, 65.3%);
$color-blue-9: hsl(206, 100%, 50%);
$color-blue-10: hsl(208, 100%, 47.3%);
$color-blue-11: hsl(211, 100%, 43.2%);
$color-blue-12: hsl(211, 100%, 15%);

$color-blue-dark-1: hsl(212, 35%, 9.2%);
$color-blue-dark-2: hsl(216, 50%, 11.8%);
$color-blue-dark-3: hsl(214, 59.4%, 15.3%);
$color-blue-dark-4: hsl(214, 65.8%, 17.9%);
$color-blue-dark-5: hsl(213, 71.2%, 20.2%);
$color-blue-dark-6: hsl(212, 77.4%, 23.1%);
$color-blue-dark-7: hsl(211, 85.1%, 27.4%);
$color-blue-dark-8: hsl(211, 89.7%, 34.1%);
$color-blue-dark-9: hsl(206, 100%, 50%);
$color-blue-dark-10: hsl(209, 100%, 60.6%);
$color-blue-dark-11: hsl(210, 100%, 66.1%);
$color-blue-dark-12: hsl(206, 98%, 95.8%);

$color-purple-1: hsl(280, 65%, 99.4%);
$color-purple-2: hsl(276, 100%, 99%);
$color-purple-3: hsl(276, 83.1%, 97%);
$color-purple-4: hsl(275, 76.4%, 94.7%);
$color-purple-5: hsl(275, 70.8%, 91.8%);
$color-purple-6: hsl(274, 65.4%, 87.8%);
$color-purple-7: hsl(273, 61%, 81.7%);
$color-purple-8: hsl(272, 60%, 73.5%);
$color-purple-9: hsl(272, 51%, 54%);
$color-purple-10: hsl(272, 46.8%, 50.3%);
$color-purple-11: hsl(272, 50%, 45.8%);
$color-purple-12: hsl(272, 66%, 16%);

$color-purple-dark-1: hsl(284, 20%, 9.6%);
$color-purple-dark-2: hsl(283, 30%, 11.8%);
$color-purple-dark-3: hsl(281, 37.5%, 16.5%);
$color-purple-dark-4: hsl(280, 41.2%, 20%);
$color-purple-dark-5: hsl(279, 43.8%, 23.3%);
$color-purple-dark-6: hsl(277, 46.4%, 27.5%);
$color-purple-dark-7: hsl(275, 49.3%, 34.6%);
$color-purple-dark-8: hsl(272, 52.1%, 45.9%);
$color-purple-dark-9: hsl(272, 51%, 54%);
$color-purple-dark-10: hsl(273, 57.3%, 59.1%);
$color-purple-dark-11: hsl(275, 80%, 71%);
$color-purple-dark-12: hsl(279, 75%, 95.7%);

$color-gray-1: hsl(0, 0%, 99%);
$color-gray-2: hsl(0, 0%, 97.3%);
$color-gray-3: hsl(0, 0%, 95.1%);
$color-gray-4: hsl(0, 0%, 93%);
$color-gray-5: hsl(0, 0%, 90.9%);
$color-gray-6: hsl(0, 0%, 88.7%);
$color-gray-7: hsl(0, 0%, 85.8%);
$color-gray-8: hsl(0, 0%, 78%);
$color-gray-9: hsl(0, 0%, 56.1%);
$color-gray-10: hsl(0, 0%, 52.3%);
$color-gray-11: hsl(0, 0%, 43.5%);
$color-gray-12: hsl(0, 0%, 9%);

$color-gray-dark-1: hsl(0, 0%, 8.5%);
$color-gray-dark-2: hsl(0, 0%, 11%);
$color-gray-dark-3: hsl(0, 0%, 13.6%);
$color-gray-dark-4: hsl(0, 0%, 15.8%);
$color-gray-dark-5: hsl(0, 0%, 17.9%);
$color-gray-dark-6: hsl(0, 0%, 20.5%);
$color-gray-dark-7: hsl(0, 0%, 24.3%);
$color-gray-dark-8: hsl(0, 0%, 31.2%);
$color-gray-dark-9: hsl(0, 0%, 43.9%);
$color-gray-dark-10: hsl(0, 0%, 49.4%);
$color-gray-dark-11: hsl(0, 0%, 62.8%);
$color-gray-dark-12: hsl(0, 0%, 93%);

$color-sky-1: hsl(193, 100%, 98.8%);
$color-sky-2: hsl(193, 100%, 97.3%);
$color-sky-3: hsl(193, 99%, 94.7%);
$color-sky-4: hsl(193, 91.4%, 91.4%);
$color-sky-5: hsl(194, 82%, 86.6%);
$color-sky-6: hsl(194, 74.1%, 79.5%);
$color-sky-7: hsl(194, 72.3%, 69.6%);
$color-sky-8: hsl(193, 77.9%, 53.9%);
$color-sky-9: hsl(193, 98%, 70%);
$color-sky-10: hsl(193, 87%, 66.5%);
$color-sky-11: hsl(195, 100%, 31.5%);
$color-sky-12: hsl(195, 100%, 13%);

$color-sky-dark-1: hsl(205, 45%, 8.6%);
$color-sky-dark-2: hsl(202, 71.4%, 9.6%);
$color-sky-dark-3: hsl(201, 74.6%, 12.2%);
$color-sky-dark-4: hsl(201, 77.4%, 14.4%);
$color-sky-dark-5: hsl(200, 80.3%, 16.5%);
$color-sky-dark-6: hsl(200, 84.1%, 18.9%);
$color-sky-dark-7: hsl(199, 90.2%, 22.1%);
$color-sky-dark-8: hsl(198, 100%, 26.1%);
$color-sky-dark-9: hsl(193, 98%, 70%);
$color-sky-dark-10: hsl(192, 100%, 77%);
$color-sky-dark-11: hsl(192, 85%, 55.8%);
$color-sky-dark-12: hsl(198, 98%, 95.8%);
