@use "abstracts" as *;

.layoutClass {
  display: flex;
  flex-direction: column;
  width: 100%;
  &::-webkit-scrollbar {
    width: 15px; /* Largura da barra de rolagem */
  }

  &::-webkit-scrollbar-thumb {
    // background-color: $color-blue-11; /* Cor do polegar da barra de rolagem */
    // border-radius: 15px; /* Raio de borda do polegar da barra de rolagem */
    // box-shadow: inset 2px 2px 2px $color-blue-9,
    //   inset -2px -2px 2px $color-blue-12;
    background: radial-gradient(
      100% 100% at 100% 0%,
      $color-sky-9 0%,
      $color-blue-10 100%
    );
    box-shadow: 0px 0.01em 0.01em rgb(45 35 66 / 40%),
      0px 0.3em 0.7em -0.01em rgb(45 35 66 / 30%),
      inset 0px -0.01em 0px rgb(58 65 111 / 50%);
  }

  &::-webkit-scrollbar-track {
    background: linear-gradient(
      90deg,
      $color-blue-11,
      $color-blue-9 1px,
      $color-blue-11 0,
      $color-blue-9
    );
    // background-color: $color-blue-10; /* Cor do fundo da barra de rolagem */
  }
}

.bodyLight {
  @include light-theme;
  width: 100vw;
  height: 100vh;
}

.bodyDark {
  background: $color-blue-10;
  width: 100vw;
  height: 100vh;
}
