// 1rem = 10px
:root {
  font-size: 60%;
}
@media (min-width: 700px) {
  :root {
    font-size: 62.5%;
  }
}

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body,
main {
  -webkit-font-smoothing: antialised;
  list-style: none;
}
li {
  list-style-type: none;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
